# The Developers Arena!

 Week 1: Introduction to Python Programming 
- Theory: Study Python variables, data types, operators, input/output, 
conditional statements (if-else), loops (for, while). 
- Hands-On: Write basic Python programs (e.g., temperature converter, 
calculator). 
- Client Project: Create a basic data processing script (e.g., calculating the 
average temperature). 
- Submit: Python script and a summary of the concepts learned (on Google 
Classroom).

## Variables

In [ ]:
# variable is a storage container where it store any data like 
# Int
age = 25  

# String
name = "Alice"  

# Float
price = 99.99  

# Boolean
is_student = True  

# List
fruits = ["apple", "banana", "cherry"]

## Data Types

In [ ]:
# Data type is a types of the data that is stored in the variable

x = 10  
print(type(x))

In [ ]:
# Float
y = 3.14  
print(type(y))

In [ ]:
#  String
z = "Hello Python"  
print(type(z))

In [ ]:
# Boolean
status = False  
print(type(status))

In [ ]:
# Dictionary
student = {"name": "Ram", "age": 20, "grade": "A"}  
print(type(student))

In [ ]:
# Tuple
names = ("Ram", "Arjun", "Krishna")
print(type(names))

## Operators

In [ ]:
# Arithmetic (+, -, *, /)
a, b = 10, 3
print(f" add {a + b}, sub {a - b}, mul { a * b}, div {a / b}" )

In [ ]:
# Modulus and Exponent
print(a % b)   

print(a ** b)

In [ ]:
# Comparison

print(a > b, a < b, a == b, a != b)

In [ ]:
# Logical

x, y = True, False
print(x and y, x or y, not x)

In [ ]:
# Assignment
 
num = 5
num += 2  
print(num)

## input/output

In [ ]:
# Simple input/output

name = input("Enter your name: ")
print("Hello", name)

In [ ]:
# Integer input
age = int(input("Enter your age: "))
print("You are", age, "years old.")

In [ ]:
#Float input
temp = float(input("Enter temperature: "))
print("Temperature is", temp, "Â°C")

In [ ]:
# Output formatting

x, y = 5, 10
print(f"Sum of {x} and {y} is {x+y}")

In [36]:
# Multi-line output

print("Python is powerful \nand easy to learn!")

Python is powerful
and easy to learn!

## Conditional Statements (if-else)

In [39]:
# Simple if
num = 5
if num > 0:
    print("Positive number")

Positive number

In [41]:
# If-else example
age = 18
if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

In [43]:
# If-elif-else example
marks = 75
if marks >= 90:
    print("Grade A")
elif marks >= 60:
    print("Grade B")
else:
    print("Grade C")

Grade B

In [45]:
# Nested if example
x = 10
if x > 5:
    if x < 15:
        print("x is between 5 and 15")

x is between 5 and 15

In [47]:
# Using logical operator example
num = 12
if num % 2 == 0 and num % 3 == 0:
    print("Divisible by both 2 and 3")

Divisible by both 2 and 3

In [49]:
# Odd or Even
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [51]:
# Largest of three numbers
a, b, c = 12, 5, 9
if a >= b and a >= c:
    print("Largest =", a)
elif b >= a and b >= c:
    print("Largest =", b)
else:
    print("Largest =", c)

Largest = 12

In [53]:
# Check Leap Year
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a Leap Year")
else:
    print(year, "is not a Leap Year")

2024 is a Leap Year

In [67]:
# Age Group Classifier
age = 19
if age < 13:
    print("Child")
elif age <= 19:
    print("Teenager")
elif age < 60:
    print("Adult")
else:
    print("Senior Citizen")

Teenager

In [69]:
# Password Check
password = "python123"
if password == "python123":
    print("Access Granted")
else:
    print("Access Denied")

Access Granted

## Loops (for, while)

In [ ]:
# For loop (range)
for i in range(5):
    print(i)

In [ ]:
# For loop (list iteration)
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [102]:
# While loop (counting)

count = 1
while count <= 5:
    print("Count =", count)
    count += 1

Count = 1
Count = 2
Count = 3
Count = 4
Count = 5

In [100]:
# Break in loop

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [98]:
# Continue in loop

for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [ ]:
# Sum of first 10 natural numbers (for loop)

total = 0
for i in range(1, 11):
    total += i
print("Sum of first 10 numbers:", total)

In [ ]:
# Multiplication Table of 5 (for loop)

for i in range(1, 11):
    print(f"5 x {i} = {5*i}")

In [ ]:
# Factorial using while loop

num = 5
fact = 1
while num > 0:
    fact *= num
    num -= 1
print("Factorial =", fact)

In [86]:
# Reverse a string (for loop)

word = "Python is simple"
reversed_word = ""
for char in word:
    reversed_word = char + reversed_word
print(f"word: {word}\nReversed:", reversed_word)

word: Python is simple
Reversed: elpmis si nohtyP

In [72]:
# Guess the Number (while loop)
secret = 7
guess = 0
while guess != secret:
    guess = int(input("Guess the number (1-10): "))
    if guess < secret:
        print("Too low!")
    elif guess > secret:
        print("Too high!")
print("Correct!")

Guess the number (1-10):  2

Too low!

Guess the number (1-10):  5

Too low!

Guess the number (1-10):  9

Too high!

Guess the number (1-10):  7

Correct! ð

## simple Calculator

In [23]:
while True:
    print("""Calculator\n1)Add \n2)Sub\n3)Mul \n4)Div \n5)Exit""")
    choice = int(input("\nchoose option: "))

    if choice == 1:
        num1 = int(input("choose one number: "))
        num2 = int(input("choose another number: "))
        print(f"Addition of {num1} and {num2} is {num1+num2}")
        
    elif choice == 2:
        num1 = int(input("choose one number: "))
        num2 = int(input("choose another number: "))
        print(f"Subtraction of {num1} and {num2} is {num1-num2}")
        
    elif choice == 3:
        num1 = int(input("choose one number: "))
        num2 = int(input("choose another number: "))
        print(f"Multiplication of {num1} and {num2} is {num1*num2}")
        
    elif choice == 4:
        num1 = int(input("choose one number: "))
        num2 = int(input("choose another number: "))
        if num2 == 0:
            print("Error: Cannot divide by zero.")
        else:
            print(f"Division of {num1} and {num2} is {num1/num2}")
    elif choice == 5:
        print("Exit")
        break
    else:
        print("Invalid Choice\n")

Calculator
1)Add
2)Sub
3)Mul
4)Div
5)Exit

choose option:  5

Exit

## Celsius to Fahrenheit conversion

In [106]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32

print(f"{celsius}Â°C = {fahrenheit}Â°F")

Enter temperature in Celsius:  98

98.0Â°C = 208.4Â°F

## Client Project: Average Temperature Calculator

In [126]:
temperatures = []  
n = int(input("How many days of temperature data do you have? "))

# take n inputs for calculating the average temperatue
for i in range(n):
    temp = float(input(f"Enter temperature for day {i+1}: "))
    temperatures.append(temp)

# Here we are doing the sum of temperatures to lenght of the temperatures
average_temp = sum(temperatures) / len(temperatures)
print("\nTemperatures entered:", temperatures)
print(f"Average temperature over {n} days = {average_temp:.2f}Â°C")

How many days of temperature data do you have?  5
Enter temperature for day 1:  5
Enter temperature for day 2:  5
Enter temperature for day 3:  55
Enter temperature for day 4:  5
Enter temperature for day 5:  55

Temperatures entered: [5.0, 5.0, 55.0, 5.0, 55.0]
Average temperature over 5 days = 25.00Â°C