# The Developers Arena!

Week 2: Data Structures and Functions 
- Theory: Study Python lists, tuples, dictionaries, sets, functions, lambda 
functions, recursion, and list comprehension. 
- Hands-On: Work with data structures and write functions for data 
transformations (e.g., sum of squares, filtering). 
- Client Project: Write a script for data cleaning (e.g., remove duplicates, filter 
data). 
- Submit: Python script and a summary of the concepts learned (on Google 
Classroom).

## Data Structures

### List

In [207]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print("List:", fruits)

print(type(fruits))

List: ['apple', 'banana', 'cherry', 'orange']
<class 'list'>

In [110]:
# append()
cities = ["Delhi", "Mumbai"]
cities.append("Chennai")
print(cities)

['Delhi', 'Mumbai', 'Chennai']

In [112]:
# extend()
cities.extend(["Kolkata", "Hyderabad"])
print(cities)

['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Hyderabad']

In [114]:
# insert()
cities.insert(1, "Bangalore")
print(cities)

['Delhi', 'Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hyderabad']

In [116]:
# remove()
cities.remove("Mumbai")
print(cities)

['Delhi', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad']

In [118]:
# pop()
cities.pop()
print(cities)

['Delhi', 'Bangalore', 'Chennai', 'Kolkata']

In [120]:
# index()
print(cities.index("Delhi"))

0

In [122]:
# count()
marks = [90, 85, 85, 70, 85, 60]
print(marks.count(85))

3

In [124]:
# sort()
marks.sort()
print(marks)

[60, 70, 85, 85, 85, 90]

In [126]:
# reverse()
marks.reverse()
print(marks)

[90, 85, 85, 85, 70, 60]

In [128]:
# copy() and clear()
nums = marks.copy()
marks.clear()
print("Copy:", nums, "Cleared:", marks)

Copy: [90, 85, 85, 85, 70, 60] Cleared: []

### Tuple

In [136]:
coordinates = (10, 20)
print("Tuple:", coordinates)

Tuple: (10, 20)

In [203]:
t = (10, 20, 30, 20, 40, 50)
print(type(t))

<class 'tuple'>

In [205]:
# count()
print(t.count(20))

2

In [142]:
# index()
print(t.index(30))

2

In [144]:
# len()
print(len(t))

# min()
print(min(t))

6
10

In [146]:
# max()
print(max(t))

50

In [148]:
# sum()
print(sum(t))

# tuple() conversion
lst = [1, 2, 3]
print(tuple(lst))

170
(1, 2, 3)

In [149]:
# slicing
print(t[1:4])

(20, 30, 20)

In [150]:
# membership
print(20 in t, 100 not in t)

True True

In [154]:
# nested tuple access
nested = (1, (2, 3), (4, 5))
print(nested[1][1])

3

### Dictionary

In [270]:
student = {"name": "Ram", "age": 20, "grade": "A"}

print("Dictionary:", student["name"])

print(type(student))

Dictionary: Ram
<class 'dict'>

In [268]:
student = {"name": "Krishna", "age": 20, "grade": "A"}

# keys()
print(student.keys())

dict_keys(['name', 'age', 'grade'])

In [160]:
# values()
print(student.values())

dict_values(['Alice', 20, 'A'])

In [162]:
# items()
print(student.items())

dict_items([('name', 'Alice'), ('age', 20), ('grade', 'A')])

In [164]:
# get()
print(student.get("age"))

20

In [166]:
# update()
student.update({"grade": "B", "city": "Delhi"})
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'B', 'city': 'Delhi'}

In [168]:
# pop()
student.pop("age")
print(student)

{'name': 'Alice', 'grade': 'B', 'city': 'Delhi'}

In [170]:
# popitem()
print(student.popitem())  # removes last key-value pair

('city', 'Delhi')

In [172]:
# setdefault()
student.setdefault("country", "India")
print(student)

{'name': 'Alice', 'grade': 'B', 'country': 'India'}

In [174]:
# copy()
copy_dict = student.copy()
print(copy_dict)

{'name': 'Alice', 'grade': 'B', 'country': 'India'}

In [ ]:
# clear()
student.clear()
print(student)

Dictionary: Bob

### Set

In [199]:
numbers = {1, 2, 3, 3, 4}
print("Set:", numbers)   
print(type(set))

Set: {1, 2, 3, 4}
<class 'type'>

In [215]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

# add()

s1.add(10)

print(s1)

{1, 2, 3, 4, 10}

In [180]:
# update()

s1.update([20, 30])
print(s1)

{1, 2, 3, 4, 10, 20, 30}

In [182]:
# remove()
`
s1.remove(20)
print(s1)

{1, 2, 3, 4, 10, 30}

In [241]:
# discard()

s1.discard(50)
print(s1)

{2, 3, 4, 5, 6, 7, 8}

In [243]:
# union()

print(s1.union(s2))

{2, 3, 4, 5, 6, 7, 8}

In [245]:
# intersection()

print(s1.intersection(s2))

{3, 4, 5, 6}

In [190]:
# difference()

print(s1.difference(s2))

{1, 2, 10, 30}

In [192]:

# symmetric_difference()
print(s1.symmetric_difference(s2))

{1, 2, 5, 6, 10, 30}

In [194]:
# issubset()

print({1, 2}.issubset(s1))

True

In [196]:
# clear()

s1.clear()
print(s1)

set()

# Functions

In [264]:
 
def greet(name):
    return f"Hello, {name}!"

print(greet("krishna"))

Hello, krishna!

In [252]:
def get_min_max(numbers):
    return min(numbers), max(numbers)

nums = [10, 25, 3, 88, 45]
low, high = get_min_max(nums)
print(f"Min: {low}, Max: {high}")

Min: 3, Max: 88

In [262]:
def add_numbers(*args):
    return sum(args)

print(add_numbers(5, 10, 15))     
print(add_numbers(1, 2, 3, 4, 5))

30
15

In [266]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name="Gurunath", age=25, city="New York")
display_info(name="Krishna", age=22, city="New Jesrsy")

name: Gurunath
age: 25
city: New York
name: Krishna
age: 22
city: New Jesrsy

In [31]:
# Lambda function
square = lambda x: x**2
print("Square of 5:", square(5))

Square of 5: 25

In [43]:
# Recursion (factorial)

def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [98]:
# List Comprehension
nums = [1, 2, 3, 4, 5]
squares = [x**2 for x in nums]

print("Squares:", squares)

Squares: [1, 4, 9, 16, 25]

In [45]:
# Sum of squares
def sum_of_squares(lst):
    return sum([x**2 for x in lst])

print("Sum of squares:", sum_of_squares([1, 2, 3, 4]))

Sum of squares: 30

In [47]:
# Filtering even numbers
def filter_even(lst):
    return [x for x in lst if x % 2 == 0]

print("Even numbers:", filter_even([1, 2, 3, 4, 5, 6]))

Even numbers: [2, 4, 6]

## Client Project: Data Cleaning Script

In [58]:
# Data Cleaning Script
def clean_data(data):
    
    unique_data = list(set(data))
    # Filter out invalid (negative) numbers
    cleaned = [x for x in unique_data if x >= 0]
    return cleaned

# Example usage
raw_data = [10, -5, 20, 10, 30, -2, 20, 40]
print("Raw data:", raw_data)

print("Cleaned data:", clean_data(raw_data))

Raw data: [10, -5, 20, 10, 30, -2, 20, 40]
Cleaned data: [40, 10, 20, 30]

In [86]:
# Remove Duplicates

data = [10, 20, 20, 30, 40, 10]
cleaned = list(set(data))

print("Without duplicates:", cleaned)

Without duplicates: [40, 10, 20, 30]

In [84]:

data = [10, None, 20, "", 30, None]
cleaned = [x for x in data if x not in (None, "")]

print("No missing values:", cleaned)

No missing values: [10, 20, 30]

In [272]:
# Whitespace in Strings
data = ["  Python  ", "Pandas  ", "Nump  y  "]
cleaned = [x.strip() for x in data]

print("Trimmed strings:", cleaned)

Trimmed strings: ['Python', 'Pandas', 'Nump  y']

In [80]:
# Remove Stopwords 

stopwords = {"is", "the", "a", "an"}
sentence = ["Python", "is", "the", "best", "language"]

cleaned = [word for word in sentence if word not in stopwords]


print("Without stopwords:", cleaned)

Without stopwords: ['Python', 'best', 'language']

In [275]:
def clean_data(data):
    #Remove duplicates
    
    data = list(set(data))
    
    #  Remove None / Empty
    data = [x for x in data if x not in (None, "")]
    
    # Convert strings to lowercase if type is str
    data = [x.lower() if isinstance(x, str) else x for x in data]
    # Remove negatives (if numbers)
    data = [x for x in data if not isinstance(x, (int, float)) or x >= 0]

    
    return data

# Example usage
raw_data = ["AI", "Machine Learning", "Transformer", None, "", -5, 10, 20, -2, 20]

print("Raw:", raw_data)
print("Cleaned:", clean_data(raw_data))

Raw: ['AI', 'Machine Learning', 'Transformer', None, '', -5, 10, 20, -2, 20]
Cleaned: ['machine learning', 10, 'ai', 'transformer', 20]

Week 2 : Data Structures and Functions
-----------------------------------------------
Concepts Learned:
- Lists: mutable, ordered collections
- Tuples: immutable, ordered collections
- Dictionaries: key-value pairs
- Sets: unique unordered collections
- Functions: reusable code with def
- Lambda: one-line anonymous functions
- Recursion: functions calling themselves
- List Comprehension: compact loops inside lists

Hands-On:
- Practiced sum of squares and filtering with functions
- Applied list comprehension for data transformation

Client Project:
- Wrote a data cleaning script to remove duplicates and filter invalid values

Learning Outcome:
I learned to handle different data structures in Python, write reusable functions, 
apply recursion, and perform simple data cleaning tasks.